# Oparational files
node_modules/
public/
.cache/
__pycache__/
core
core.*

# Private environment variables
.env
.env.*

# IDE dirs
.vscode/
.idea

# the content folder contains folders with private/generated data
content/series/
content/latest/
content/configs/
content/scripts/
content/prompts/server.txt
content/prompts/server.md
content/prompts/scheduler.txt
content/prompts/scheduler.md



# Temporary staging files
staging/*

# excluded by the gatsby template
src/gatsby-types.d.ts

# Development specific code
start-dev.sh
caddy/Caddyfile-dev